body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  user-select: none;
  background-image: url("https://images-assets.nasa.gov/image/iss040e016556/iss040e016556~orig.jpg");
  background-position: start;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}

a:hover {
  text-decoration: none;
}

/* <!-- NavBar --> */
.navbar {
  position: fixed;
  right: 0px;
  border: none;
  top: 0px;
}

.navbar-default {
  background-color: black;
}

nav .navbar-nav li a {
  color: #eeeeeeea !important;
}

.nav-link,
.navbar-brand {
  cursor: pointer;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  font-weight: bold;
  text-decoration: none;
  color: #eeeeeeea;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar .active {
  font-weight: bold;
  color: #eeeeeeea;
  text-decoration: none;
}

/* <!-- Header --> */
header {
  text-align: center;
}

.page-header {
  border-bottom: none;
  margin: 20px 0 0px;
  padding-bottom: 0px;
}

h1 {
  color: #eeeeeeea;
}

/* <!-- Footer --> */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  color: #eeeeeeea;
  text-align: center;
}

/* <!-- Home --> */
.home-link {
  color: black;
  text-align: center;
  margin: 150px auto;
  width: 30%;
  vertical-align: middle;
  height: 174px;
}

a .home-link h4:hover {
  font-weight: bold;
}

.home-link h3 {
  font-weight: bold;
  color: black;
}

/* <!-- Launch Cards --> */
#launch-cards {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 10px));
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  place-content: center;
  grid-auto-flow: row;
  padding: 20px;
}

.launch-card {
  width: 300px;
  height: 300px;
  margin: 5px;
  transition: transform 1s;
  transform-style: preserve-3d;
  background-color: #eeeeeeea;
  grid-column: span 1;
  grid-row: span 1;
}

.launch-card:hover {
  transform: scale(1.05);
  position: relative;
}

.launch-card:active {
  transform: rotateY(180deg) scale(1.05);
}

.card-front,
.card-back {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: cover;
  color: black;
}

.card-front {
  filter: grayscale(100%);
  transition-duration: 1s;
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
}

ul {
  list-style-type: none;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 0;
}

span {
  font-weight: bold;
}

li {
  font-weight: normal;
}

.card-front:hover {
  filter: grayscale(0%);
}

.card-back {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

p {
  padding: 20px;
  text-align: left;
  font-size: 85%;
}

/* <!-- Load More Button --> */
.btn-default {
  color: black;
  background-color: #eeeeeeea;
  border-color: #ccc;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  margin: auto;
}

.container {
  display: grid;
}

/* <!-- About Page --> */
.about {
  height: 464px;
}

.about h5 {
  color: #eeeeeeea;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  #launch-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  #launch-cards {
    grid-template-columns: repeat(4, calc(25% - 10px));
  }
}
